<!DOCTYPE html>
<html lang="et">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Elukohateade</title>
    <meta name="description" content="Kasutajaliidesed, kodutöö 1">
    <meta name="author" content="Eva Maria Veitmaa, 155408IAPB">

    <!-- Style
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="style/custom.css" rel="stylesheet">

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/vue.js"></script>


</head>
<body>

<main id="app" class="container" role="main">

    <h1 id="pageTitle">ELUKOHATEADE</h1>
    <hr style="margin-top: 0;">

    <div id="landingPage" v-if="pageIdx === 0">
        <div class="row justified-text">
            <div class="col-sm">
                <img src="img/sisemin.png" class="img-fluid mx-auto d-block image" alt="Siseministeerium">

                <button id="idLogin" class="btn btn-primary btn-lg btn-block" @click="idCardLogin()" type="button">
                    <span class="fas fa-id-card"></span> Sisene ID-kaardiga
                </button>
                <br>
                <button id="simpleLogin" class="btn btn-primary btn-lg btn-block" @click="blankLogin()" type="button">
                    <span class="fas fa-pencil-alt"></span> Sisesta isikuandmed käsitsi
                </button>
                <br>
                <div class="d-flex justify-content-center">
                    <a href="https://www.siseministeerium.ee/et/tegevusvaldkonnad/rahvastikutoimingud/elukohatoimingud"
                       target="_blank" class="btn btn-info btn-sm" type="button">
                        Siseministeeriumi kodulehele <span class="fas fa-external-link-alt"></span>
                    </a>
                </div>
                &nbsp;
            </div>

            <div class="col-sm">
                <p><b>Kui inimene muudab oma elukohta Eestis, asub elama välisriiki või välisriigist Eestisse, peab ta
                    esitama elukohateate.</b></p>
                <p>Elukoha andmete kandmiseks rahvastikuregistrisse tuleb esitada teade elukohajärgsele linna- või
                    vallavalitsusele ja Tallinnas linna-osavalitsusele <b>30 päeva jooksul</b>.</p>
                <p><b>Elukoha registreerimine on vajalik</b>, et riigi ja kohaliku omavalitsuse asutused saaksid osutada
                    oma
                    territooriumil elavatele elanikele avalikke teenuseid ning tõhustada teabevahetust ja koostööd.</p>
                <p><b>Rahvastikuregistrisse kantud elukoha aadressi muutmise aluseks ei ole inimese asumine või
                    paigutamine haiglasse, hoolekande- või kinnipidamisasutusse või kaitseväeteenistusse.</b></p>
            </div>
        </div>
    </div>


    <div id="applicantPage" v-if="pageIdx === 1">
        <form id="applicantForm" class="needs-validation" novalidate>

            <div id="applicant">
                <div class="box-header">
                    <h3>Esitaja</h3>
                </div>
                <div class="box-with-margin">
                    <div class="row">
                        <div class="form-group col-sm">
                            <label for="applicantName">Eesnimi<span class="req"> *</span></label>
                            <input id="applicantName" class="form-control" type="text" v-model="otherPeople[0].name"
                                   required>
                            <successful-validation-message></successful-validation-message>
                        </div>

                        <div class="form-group col-sm">
                            <label for="applicantSurname">Perekonnanimi <span class="req"> *</span></label>
                            <input id="applicantSurname" class="form-control" type="text"
                                   v-model="otherPeople[0].surname" required>
                        </div>

                        <div class="form-group col-sm">
                            <label for="applicantCode">Isikukood <span class="req"> *</span></label>
                            <input id="applicantCode" class="form-control" type="number" v-model="otherPeople[0].code"
                                   required>
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-center">
                        <div class="form-group col-sm">
                            <label for="applicantEmail">E-post</label>
                            <input id="applicantEmail" class="form-control" type="email" v-model="otherPeople[0].email">
                        </div>

                        <div class="form-group col-sm">
                            <label for="applicantPhoneNumber">Telefon</label>
                            <input id="applicantPhoneNumber" class="form-control" type="tel"
                                   v-model="otherPeople[0].phoneNumber">
                        </div>

                        <div class="col-sm">
                            <div class="form-check">
                                <input id="applicantChangesHome" class="form-check-input" type="checkbox" checked>
                                <label class="form-check-label" for="applicantChangesHome">Esitan uue elukoha enda
                                    kohta.</label>
                            </div>

                            <div class="form-check">
                                <input id="containsOtherPeople" class="form-check-input" v-model="containsOtherPeople"
                                       type="checkbox">
                                <label class="form-check-label" for="containsOtherPeople">Esitan uue elukoha teis(t)e
                                    kohta.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="otherPeople" v-if="containsOtherPeople">
                <hr>
                <div class="box-header">
                    <h3>Teised isikud, kelle elukoha aadressi muudetakse</h3>
                    Elukohateate esitaja ei pea oma andmeid uuesti kirjutama.
                </div>

                <div v-for="(person, index) in otherPeople">
                    <div class="box-with-margin" v-if="index > 0">
                        <div class="row">
                            <div class="form-group col-sm">
                                <label for="personName">Eesnimi <span class="req"> *</span></label>
                                <input id="personName" class="form-control" type="text" v-model="person.name"
                                       required>
                            </div>

                            <div class="form-group col-sm">
                                <label for="personSurname">Perekonnanimi <span class="req"> *</span></label>
                                <input id="personSurname" class="form-control" type="text" v-model="person.surname"
                                       required>
                            </div>

                            <div class="form-group col-sm">
                                <label for="personCode">Isikukood <span class="req"> *</span></label>
                                <input id="personCode" class="form-control" type="number" v-model="person.code"
                                       required>
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-center">
                            <div class="form-group col-sm col-lg-4">
                                <label for="personEmail">E-post</label>
                                <input id="personEmail" class="form-control" type="email" v-model="person.email">
                            </div>

                            <div class="form-group col-sm col-lg-4">
                                <label for="personPhoneNumber">Telefon</label>
                                <input id="personPhoneNumber" class="form-control" type="tel"
                                       v-model="person.phoneNumber">
                            </div>

                            <div class="col-sm col-lg-4">
                                <div class="form-check">
                                    <input id="isUnderaged" class="form-check-input" v-model="person.isUnderaged"
                                           type="checkbox">
                                    <label class="form-check-label" for="isUnderaged">Tegemist on alaealise
                                        lapsega.</label>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div id="guardianConsent" v-if="person.isUnderaged">
                            <h5>Alaealise lapse (laste) teise hooldusõigusliku vanema nõusolek</h5>
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label for="guardianName">Eesnimi <span class="req"> *</span></label>
                                    <input id="guardianName" class="form-control" type="text"
                                           v-model="person.guardian.name" required>
                                </div>

                                <div class="form-group col-sm">
                                    <label for="guardianSurname">Perekonnanimi <span class="req"> *</span></label>
                                    <input id="guardianSurname" class="form-control" type="text"
                                           v-model="person.guardian.surname" required>
                                </div>

                                <div class="form-group col-sm">
                                    <label for="guardianCode">Isikukood <span class="req"> *</span></label>
                                    <input id="guardianCode" class="form-control" type="number"
                                           v-model="person.guardian.code" required>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button id="removeElement" class="btn btn-danger" @click="removeElement(index)"
                                    type="button">
                                <span class="fas fa-minus-circle"></span> Eemalda
                            </button>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button id="addElement" class="btn btn-success" @click="addElement()" type="button">
                        <span class="fas fa-plus-circle"></span> Lisa
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div id="addressPage" v-if="pageIdx === 2">
        <form id="addressForm" class="needs-validation" novalidate>
            <div id="newHome">
                <div class="box-header">
                    <h3>Uue elukoha aadress</h3>
                </div>

                <div class="box-with-margin">
                    <div class="row">
                        <div class="form-group col-sm col-lg">
                            <label for="newCountry">Riik<span class="req"> *</span></label>
                            <input id="newCountry" class="form-control" v-model="newCountry" type="text" required>
                        </div>

                        <div class="form-group col-sm col-lg">
                            <label for="newCounty">Maakond<span class="req"> *</span></label>
                            <input id="newCounty" class="form-control" v-model="newCounty" type="text" required>
                        </div>

                        <div class="form-group col-sm col-lg">
                            <label for="newTown">Vald/linn, alevik, küla<span class="req"> *</span></label>
                            <input id="newTown" class="form-control" v-model="newTown" type="text" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm col-lg-4">
                            <label for="newStreet">Tänav/talu, maja nr, korteri nr<span class="req"> *</span></label>
                            <input id="newStreet" class="form-control" v-model="newStreet" type="text" required>
                        </div>

                        <div class="form-group col-sm col-lg-4">
                            <label for="newZipCode">Postiindeks<span class="req"> *</span></label>
                            <input id="newZipCode" class="form-control" v-model="newZipCode" type="text" required>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div id="contactAddress">
                <div class="box-header">
                    <h3>Sideaadress (kui erineb uue elukoha aadressist)</h3>
                </div>

                <div class="box-with-margin">
                    <div class="row">
                        <div class="form-group col-sm">
                            <label for="countactContry">Riik</label>
                            <input id="countactContry" class="form-control" type="text">
                        </div>

                        <div class="form-group col-sm">
                            <label for="contactCounty">Maakond</label>
                            <input id="contactCounty" class="form-control" type="text">
                        </div>

                        <div class="form-group col-sm">
                            <label for="contactTown">Vald/linn, alevik, küla</label>
                            <input id="contactTown" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm col-lg-4">
                            <label for="contactStreet">Tänav/talu, maja nr, korteri nr</label>
                            <input id="contactStreet" class="form-control" type="text">
                        </div>

                        <div class="form-group col-sm col-lg-4">
                            <label for="contactZipCode">Postiindeks</label>
                            <input id="contactZipCode" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="form-group col-sm col-lg-2">
                            <label for="contactAddressFromDate">Kehtib alates</label>
                            <input id="contactAddressFromDate" class="form-control" type="date">
                        </div>
                        <div class="form-group col-sm col-lg-2">
                            <label for="contactAddressToDate">Kehtib kuni</label>
                            <input id="contactAddressToDate" class="form-control" type="date">
                        </div>
                        <small class="form-text text-muted col-sm col-lg">Täita juhul, kui aadressi kehtivuse alguse
                            kuupäev on tulevikus
                            või kui on teada, millal
                            kehtivus
                            lõpeb.
                        </small>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div id="approvalPage" v-if="pageIdx === 3">
        <form id="approvalForm" class="needs-validation" novalidate>
            <div id="usageApproval">
                <div class="box-header">
                    <h3 style="display: inline-block; padding-right: 10px;">Ruumi kasutamise õigus</h3>
                    <button class="btn btn-info btn-sm" type="button" data-toggle="collapse"
                            data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                        <span class="fas fa-info-circle"></span>
                    </button>
                    <div id="collapseExample" class="collapse" style="margin-top: 10px;">
                        <div class="card card-body">
                            <ul class="text-secondary justified-text">
                                <li>Ruumi kasutusõigust tõendava dokumendi olemasolul (nt üürileping) ei pea
                                    elukohateatele täiendavalt lisama ruumi omaniku nõusolekut.
                                </li>
                                <li>Kui isik ei ole ise kaasomanik, on kaasomandis oleva ruumi andmete esitamisel
                                    vajalik kõigi kaasomanike või nende esindajate nõusolek. Kaasomanike vahel sõlmitud
                                    ruumi kasutamise kokkuleppe korral võib nõusolekute asemel lisada vastavat
                                    kokkulepet tõendava dokumendi.
                                </li>
                                <li>Ruumi omaniku nõusolekut või ruumi kasutamise õigust tõendavat dokumenti ei ole
                                    vaja, kui esitatakse perekonnaliikmele (nt abikaasa, alaealine laps) kuuluva ruumi
                                    või välisriigi elukoha aadress.
                                </li>
                                <li>Ruumi kasutamise muuks aluseks võib olla näiteks isiklik kasutusõigus või ruumi
                                    kasutamine perekonnaliikmena.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="box-with-margin">
                    <div class="form-check">
                        <input id="ownership" name="kasutamiseOigusRadio" class="form-check-input" value="ownership"
                               v-model="ownershipSelection" type="radio">
                        <label class="form-check-label" for="ownership">Olen ruumi (kaas)omanik</label>
                    </div>

                    <div class="form-check">
                        <input id="contract" name="kasutamiseOigusRadio" class="form-check-input"
                               value="contract"
                               v-model="ownershipSelection" type="radio">
                        <label class="form-check-label" for="contract">Lisan üürilepingu</label>
                    </div>

                    <div class="form-check">
                        <input id="ownerApproval" name="kasutamiseOigusRadio" class="form-check-input"
                               value="ownerApproval" v-model="ownershipSelection" type="radio">
                        <label class="form-check-label" for="ownerApproval">Ruumi omanik annab elukohateatele
                            nõusoleku</label>
                    </div>

                    <div class="form-check">
                        <input id="ownerApprovalOnPaper" name="kasutamiseOigusRadio" class="form-check-input"
                               value="ownerApprovalOnPaper"
                               v-model="ownershipSelection" type="radio">
                        <label class="form-check-label" for="ownerApprovalOnPaper">Lisan omaniku nõusoleku eraldi
                            paberil</label>
                    </div>

                    <div class="form-check">
                        <input id="otherCause" name="kasutamiseOigusRadio" class="form-check-input"
                               v-model="ownershipSelection"
                               value="otherCause" type="radio">
                        <label class="form-check-label" for="otherCause">Ruumi kasutamise muu alus</label>
                    </div>
                </div>
            </div>

            <div id="ownerApproval-2" v-if="ownershipSelection === 'ownerApproval'">
                <hr>
                <div class="box-header">
                    <h3>Ruumi omaniku nõusolek</h3>
                    <p>Kinnitan, et olen nõus ülalnimetatud isikute elukoha andmete kandmisega
                        rahvastikuregistrisse.</p>
                </div>

                <div class="box-with-margin">
                    <div class="row">
                        <div class="form-group col-sm col-lg-4">
                            <label for="ownerName">Eesnimi<span class="req"> *</span></label>
                            <input id="ownerName" class="form-control" type="text" required>
                        </div>

                        <div class="form-group col-sm col-lg-4">
                            <label for="ownerSurname">Perekonnanimi<span class="req"> *</span></label>
                            <input id="ownerSurname" class="form-control" type="text" required>
                        </div>

                        <div class="form-group col-sm col-lg-4">
                            <label for="ownerCode">Isikukood<span class="req"> *</span></label>
                            <input id="ownerCode" class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
            </div>

            <div id="additionalDocuments"
                 v-if="ownershipSelection === 'contract' || ownershipSelection === 'ownerApprovalOnPaper' || ownershipSelection === 'otherCause'">
                <hr>
                <div class="box-with-margin">
                    <h3>Lisatavad dokumendid</h3>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Vali fail</label>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div id="additionalDetailsPage" v-if="pageIdx === 4">
        <form id="additionalDetailsForm" class="needs-validation" novalidate>
            <div id="additionalDetails">
                <div class="box-header">
                    <h3 style="display: inline-block; padding-right: 10px">Täiendavad andmed</h3>
                    <p class="form-text text-muted">Vastavalt riikliku statistika seadusele esitab füüsiline
                        isik andmed enda kohta vabatahtlikkuse alusel.</p>
                </div>
                <div v-for="(person, index) in otherPeople">
                    <hr>
                    <div class="box-with-margin" v-if="containsOtherPeople === true || index === 0">
                        <h4>Isik: {{person.name}} {{person.surname}}</h4>

                        <div id="additionalDetails-2">
                            <div class="row">
                                <div class="form-group col-sm col-lg-6">
                                    <label for="lastHome">Eelmine elukoht välismaal (riik ja haldusüksus)
                                        ja
                                        Eestist
                                        sinna lahkumise aeg</label>
                                    <input id="lastHome" class="form-control"
                                           aria-describedby="lastHomeHelp"
                                           type="text" v-model="person.lastForeignHome">
                                    <small id="lastHomeHelp" class="form-text text-muted">
                                        Täita saabumisel välismaalt
                                    </small>
                                </div>

                                <div class="form-group col-sm col-lg-6">
                                    <label for="foreignCode">Isikukoodi väljastanud riik ja
                                        isikukood</label>
                                    <input id="foreignCode" class="form-control"
                                           aria-describedby="foreignCodeHelp" type="text"
                                           v-model="person.foreignCode">
                                    <small id="foreignCodeHelp" class="form-text text-muted">
                                        Täita välisriigi isikukoodi olemasolul
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div id="optionalDetails">
                            <div class="row">
                                <div class="form-group col-sm col-lg-6">
                                    <label for="nationality">Rahvus</label>
                                    <input id="nationality" class="form-control"
                                           aria-describedby="nationalityHelp"
                                           type="text" v-model="person.nationality">
                                    <small id="nationalityHelp" class="form-text text-muted">
                                        Rahvus, millega isik end kõige tihedamalt etniliselt ja kultuuriliselt
                                        tunneb
                                        seotud
                                        olevat
                                    </small>
                                </div>

                                <div class="form-group col-sm col-lg-6">
                                    <label for="nativeLanguage">Emakeel</label>
                                    <input id="nativeLanguage" class="form-control"
                                           aria-describedby="nativeLanguageHelp"
                                           type="text" v-model="person.nativeLanguage">
                                    <small id="nativeLanguageHelp" class="form-text text-muted">
                                        Omandatud varases lapsepõlves esimese keelena ja mida kõige paremini valdab
                                    </small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm col-lg-6">
                                    <label for="education">Omandatud kõrgeim haridustase</label>
                                    <select id="education" class="form-control" v-model="person.education">
                                        <option selected>Vali...</option>
                                        <option value="0">Alusharidus (koolieelne haridus) või alghariduseta
                                        </option>
                                        <option value="1">Põhiharidus (põhikooli 1.-6. klass), varasem algharidus
                                        </option>
                                        <option value="2">Põhiharidus (põhikooli 7.-9. klass)</option>
                                        <option value="35">Kutsekeskharidus või kutseõpe (sh keskeri- või
                                            tehnikumiharidus)
                                            põhihariduse
                                            baasil
                                        </option>
                                        <option value="3">Keskharidus</option>
                                        <option value="4">Kutsekeskharidus või kutseõpe keskhariduse baasil</option>
                                        <option value="5">Keskeri- ja tehnikumiharidus keskhariduse baasil</option>
                                        <option value="6">Bakalaureus või sellega võrdsustatud haridus (rakendus- ja
                                            kutsekõrgharidus,
                                            diplomiõpe)
                                        </option>
                                        <option value="7">Magister või sellega võrdsustatud haridus</option>
                                        <option value="8">Doktor või sellega võrdsustatud haridus</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm col-lg-6">
                                    <label for="socialStatus">Sotsiaal-majanduslik
                                        seisund</label>
                                    <select id="socialStatus" class="form-control"
                                            v-model="person.socialStatus">
                                        <option selected>Vali...</option>
                                        <option value="A">töötav</option>
                                        <option value="B">kodune</option>
                                        <option value="C">töötu/tööd otsiv</option>
                                        <option value="D">ajateenija</option>
                                        <option value="E">(üli)õpilane</option>
                                        <option value="F">pensionär</option>
                                        <option value="G">lapsehoolduspuhkusel</option>
                                        <option value="H">muu mittetöötav</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div id="confirmationPage" v-if="pageIdx === 5">
        <div id="signatures" class="box-with-margin" v-if="otherPeople.length > 1">
            Allkirju on vaja järgnevatelt isikutelt:
            <ul>
                <div class="col-sm col-lg" v-for="(person, index) in otherPeople">
                    <div v-if="containsOtherPeople === true || index === 0">
                        <!--Täisealiste allkirjad siin-->
                        <li>{{person.name}} {{person.surname}}</li>
                        <div v-if="person.isUnderaged === true">
                            <!-- Alaealise eestkostja allkirjad siin-->
                            <li>{{person.guardian.name}} {{person.guardian.surname}}</li>
                        </div>
                    </div>
                </div>
            </ul>

            <button id="sendForSigning" class="btn btn-primary" @click="sendForSigning()" type="button"
                    :disabled="sentForSigning">
                <span class="fas fa-envelope"></span> Saada allkirjastamisele
            </button>
        </div>

        <hr v-if="otherPeople.length > 1">

        <div id="confirmation" class="box-with-margin">
            <p>Kinnitan elukohateatel esitatud andmete õigsust ja olen teadlik, et esitatud andmed kantakse
                rahvastikuregistrisse. Olen teadlik, et vastavalt karistusseadustikule on ametiasutusele
                valeandmete
                esitamine
                kriminaalkorras karistatav.</p>
            <!--<div class="form-group col-sm col-lg-2" style="padding-left: 0;">-->
            <!--<label for="confirmationDate">Kuupäev:</label>-->
            <!--<input id="confirmationDate" class="form-control" type="date">-->
            <!--</div>-->
            <button class="btn btn-primary" @click="sign()" type="button" :disabled="signed">
                <span class="fas fa-pencil-alt"></span> Allkirjasta digitaalselt
            </button>
        </div>
    </div>

    <hr>

    <div id="navigation" v-if="progress > 0">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar"
                 v-bind:style="{width: progress + '%'}">{{progress}} %
            </div>
        </div>
        <br>

        <div class="row d-flex justify-content-around">
            <button id="previousPage" class="btn btn-primary" @click="previousPage()" type="button"
                    :disabled="previousPageDisabled">
                <span class="fas fa-angle-double-left"></span> Tagasi
            </button>

            <button id="nextPage" class="btn btn-primary" @click="nextPage()" type="button"
                    :disabled="nextPageDisabled">
                Edasi <span class="fas fa-angle-double-right"></span>
            </button>
        </div>
        <br>
    </div>

</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="js/scripts.js"></script>

</body>


</html>
