html {
    overflow-y: scroll;
}

body {
    background-color: #fcfcfc;
}

.half-divider {
    width: 50%;
}

.req {
    color: red;
}

.row {
    margin-bottom: 1em;
    margin-top: 1em;
}

.box-header {
    background-color: #fefefe;
    padding: 1em;
    margin: 2em 0.5em 2em 0.5em;
    box-shadow: 0 0 0.5em #e0e0e0;
    border: 1px solid #dbdbdb;
}

.box-with-margin {
    background-color: #ffffff;
    padding: 1em;
    margin: 2em 0.5em 2em 0.5em;
    box-shadow: 0 0 0.5em #e0e0e0;
    border: 1px solid #dbdbdb;
}

.justified-text {
    text-align: justify;
}

.image {
    padding-top: 1.2em;
    padding-bottom: 2em;
}

#pageTitle {
    padding: 1em 0.2em;
}

.valid-feedback-text {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #28a745;
}

.valid-text-input {
    border-color: #28a745;
}

.valid-choice-input {
    color: #28a745;
}

.invalid-feedback-text {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.invalid-text-input {
    border-color: #dc3545;
}

.invalid-choice-input {
    color: #dc3545;
}