.half-divider {
    width: 50%;
}

.req {
    color: red;
}

.box-header {
    background-color: #e9e9e9;
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.box-with-margin {
    background-color: #f6f6f6;
    padding: 1em;
    margin: 0.5em;
}

.justified-text {
    text-align: justify;
}

.image {
    padding-top: 1.2em;
    padding-bottom: 2em;
}

#pageTitle {
    padding: 30px 0;
}

.valid-feedback-text {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #28a745;
}

.valid-text-input {
    border-color: #28a745;
}

.valid-choice-input {
    color: #28a745;
}

.invalid-feedback-text {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.invalid-text-input {
    border-color: #dc3545;
}

.invalid-choice-input {
    color: #dc3545;
}